---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allBlogPosts = await getCollection("blog");
const allFundamentalsPosts = await getCollection("fundamentals");
const allLFSPosts = await getCollection("lfs");
const allOSDevPosts = await getCollection("osdev");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    This is where I will post about my journey learning <strong
      >EVERYTHING!!!</strong
    >
  </p>

  <ul>
    {
      allBlogPosts.map((post) => (
        <BlogPost url={`/blog/${post.id}`} title={post.data.title} />
      ))
    }
  </ul>

  <h2 class="font-bold text-lg">Fundamentals</h2>

  <ul>
    {
      allFundamentalsPosts.map((post) => (
        <BlogPost url={`/fundamentals/${post.id}`} title={post.data.title} />
      ))
    }
  </ul>

  <h2 class="font-bold text-lg">Linux From Scratch</h2>

  <ul>
    {
      allLFSPosts.map((post) => (
        <BlogPost url={`/lfs/${post.id}`} title={post.data.title} />
      ))
    }
  </ul>

  <h2 class="font-bold text-lg">Operating Systems Development</h2>

  <ul>
    {
      allOSDevPosts.map((post) => (
        <BlogPost url={`/os-dev/${post.id}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
